

    <div id="logo">
        <div id="logo-content">
            <div id="logo-img">
                <img src="http://shortyawards.com/images/logo.png" width="100">
            </div>
            <div id="logo-text" style="display:none">
            </div>
        </div>
    </div>

 