

    <div id="logo">
        <div id="logo-content">
            <div id="logo-img">
                <img src="themes/thatinternetparty/thatinternetparty_100x100.png" width="100" height="100" />
            </div>
            <div id="logo-text" style="display:none">
            </div>
        </div>
    </div>
