

    <div id="logo">
        <div id="logo-content">
            <div id="logo-img">
                <img src="http://placehold.it/100x100" width="100" height="100" />
            </div>
            <div id="logo-text" style="display:none">
            </div>
        </div>
    </div>
