
    <div id="logo">
        <div id="logo-content">
            <div id="logo-img">
                <img src="http://shortyawards.com/images/logo.png" width="100">
            </div>
            <div id="logo-text" style="display:none">
            </div>
            <div id="logo-knight" style="float:right"><img src="knight-black.png"></div>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            var text = ['What people are saying about the Shorty Awards','Send a tweet containing #shortyawards or Shorty Awards to appear here','Check in to TheTimesCenter on Foursquare for a special badge'];
            $('#logo-text').text(text[0]).fadeIn('slow');
            var index = 0;
            setInterval(function() {
                $('#logo-text').fadeOut('slow',function() {
                    index = (1+index)%text.length;
                    $('#logo-text').text(text[index]);
                    $('#logo-text').fadeIn('slow')
                })
            },20000);
        });
    </script>

    